*{
    font-family: "Sofia", sans-serif;
}

.title{
    color:white;
    font-family: "Sofia", sans-serif;
    font-size: 50px;  
   
}
.headergroup{
    background-color: #dbd8e3;;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}
.table{
    text-align: center;
}
.tablegroup{
    justify-items: center;
    box-shadow: 10px 10px 5px grey;
    
}
.logo{
    height: 200px;
    width: 160px;
    border-radius: 40px;
    border: solid 5px grey;

}
.footer{
    text-align: right;
    background-color: bisque;
    font-family: "Sofia", sans-serif;
    box-shadow: 10px 10px 5px grey;
}
.midsection{
    text-align: center;
}
.midsectiongroup{
    background-color:  #defcf9; 
    box-shadow: 10px 10px 5px grey;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 40px ;
    
}
.button {
    background-color: bisque; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    box-shadow: 10px 10px 5px grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  .button:hover{
    background-color: blueviolet;
    color: gold;
  }
.buttongroup{
   justify-items: center;
   text-align: center;
   margin-bottom: 20px;
   
}
.photos{
    height: auto;
    width: 100px;
}